<h1>Sign in</h1>

<.form :let={f} for={%{}} action={~p"/log-in"}>
<.input field={f[:email]} type="email" label="Email address" required />

<.button>Submit form</.button>
</.form>

<.simple_form :let={f} for={@conn.params["kveg"]} as={:budeie} action="~p/log-in">

<.input field={f[:email]} type="email" label="Email" required />
<.input field={f[:password]} type="password" label="Password" required />

</.simple_form>
