<section class="w-2/3 mx-auto">
  <h1 class="text-2xl text-nat-700 pb-3 font-semibold">Welcome, Kveg!</h1>

  <.form :let={f} for={%{}} as={:kveg} action={~p"/log-in"}>
    <.error :if={@error_message}>
      <%= @error_message %>
    </.error>

    <.input field={f[:email]} type="email" label="Email" value={@email} required />
    <.input field={f[:password]} type="password" label="Password" required />

    <.button class="mt-6 w-full">
      Let me in
    </.button>
  </.form>

  <div class="mt-4">
    <a href={~p"/forgot-password"} class="text-blue-800 underline underline-offset-4">
      Forgot your password?
    </a>
  </div>
</section>
