<section>
  <h1 class="text-2xl text-nat-700 pb-3 font-semibold">Forgot your password?</h1>

  <.stop_message message={@stop_message} />

  <.form :let={f} :if={!@stop_message} for={%{}} as={:kveg} action={~p"/forgot-password"}>
    <.input field={f[:email]} type="email" label="Email" value={@email} required />

    <.button class="mt-6 w-full">
      Send reset link
    </.button>
  </.form>

  <.back_to_login :if={@stop_message} />
</section>
