<section class="w-2/3 mx-auto">
  <h1 class="text-2xl text-nat-700 pb-3 font-semibold">Set a new password</h1>

  <.success :if={@success}>
    <%= @success %>
  </.success>

  <.error :if={@error}>
    <%= @error %>
  </.error>

  <.form :let={f} :if={@enable_form} for={%{}} action={~p"/reset-password/#{@handle}"}>
    <.input field={f[:password]} type="password" label="Password" required />

    <.input field={f[:password_again]} type="password" label="Repeat password" required />

    <.button class="mt-6 w-full">
      Set new password
    </.button>
  </.form>

  <div :if={!@enable_form} class="mt-4">
    <.href to={~p"/log-in"}>
      Back to login
    </.href>
  </div>
</section>
