<.header>
  Edit Purchase <%= @purchase.id %>
  <:subtitle>Use this form to manage purchase records in your database.</:subtitle>
</.header>

<.purchase_form changeset={@changeset} action={~p"/purchases/#{@purchase}"} />

<.back navigate={~p"/purchases"}>Back to purchases</.back>
