<.take_me_back to={~p"/kveg"} />

<h1 class="text-3xl text-stone-600 mt-4">Your transaction history</h1>

<section :if={false} class="flex flex-row gap-6">
  <.button>Deposits</.button>
  <.button>Purchases</.button>
</section>

<p class="text-blue-800 text-lg mt-3">Months:</p>
<p><%= inspect(@months) %></p>

<.month_selection months={@months} />

<pre>
    <%= inspect @sorted, pretty: true %>
    </pre>

<pre>
    <%= inspect @kveg, pretty: true %>
    </pre>
