<.take_me_back to={~p"/kveg"} />

<h1 class="text-3xl text-stone-600 mt-4">Dypet accepts both cash and bank transfers.</h1>

<h2 class="text-3xl text-stone-800 border-stone-600 mt-10 mb-4">
  <.icon name="hero-banknotes-solid" class="h-6 w-6 text-blue-500" /> Cash
</h2>

<p class="mb-3 leading-relaxed">
  Speak with the treasurer of Dypet, {@treasurer}, when Dypet is open, and hand over your cash.
</p>

<p class="leading-relaxed">
  Your deposit will be registered on the spot, and will be available in your account immediately.
</p>

<h2 class="text-3xl text-stone-800 mt-10 mb-4">
  <.icon name="hero-credit-card-solid" class="h-6 w-6 text-blue-500" /> Bank transfer
</h2>

<p class="mb-3 leading-relaxed">
  Make a transfer to this account, and mark it with your name in the message field.
</p>

<div class="border border-stone-500 rounded-md p-6 my-5">
  <p class="uppercase tracking-wide text-blue-600 font-semibold">
    Norwegian bank account
  </p>
  <p class="text-2xl tracking-wider">
    4212.45.07361
  </p>

  <div class="border-t border-stone-400 my-5"></div>

  <p class="uppercase tracking-wide text-blue-600 font-semibold">
    International transfers
  </p>

  <div class="flex flex-row justify-between items-center border-b mt-2 pb-1">
    <p class="uppercase text-stone-600 font-semibold">IBAN</p>
    <p class="text-2xl tracking-wider">
      NO52 4212 4507 361
    </p>
  </div>

  <div class="flex flex-row justify-between items-center border-b mt-3 pb-1">
    <p class="uppercase text-stone-600 font-semibold">BIC / SWIFT</p>
    <p class="text-2xl tracking-wider">
      SPTRNO22
    </p>
  </div>

  <div class="flex flex-row justify-between items-center mt-3">
    <p class="uppercase text-stone-600 font-semibold">Address</p>
    <div class="flex flex-col justify-between items-end text-2xl tracking-wider">
      <p>
        Herman Krags veg 27
      </p>
      <p>
        7050
      </p>
      <p>
        Trondheim
      </p>
    </div>
  </div>
</div>

<p class="mb-3 leading-relaxed">
  Transfers made this way will typically take a few days to show up in your account.
</p>

<p class="leading-relaxed">
  Alternatively, you can drop a message to the treasurer on Slack, or show them the bank transfer on your phone.
</p>

<div class="border border-blue-500 bg-blue-50/50 rounded-lg mt-20">
  <div class="flex flex-row items-center border-b border-blue-300 p-3">
    <.icon name="hero-information-circle" class="h-10 w-10 text-blue-400" />
    <p class="ml-3 text-2xl text-blue-600 font-semibold">
      Negative Dypet balances
    </p>
  </div>

  <p class="my-3 mx-4 text-blue-900 text-lg">
    We encourage you to keep a positive balance on you Dypet account.
  </p>
  <p class="my-3 mx-4 text-blue-900 text-lg">
    This simplfies matters for the treasurer, and reduces risk for the club.
  </p>
  <p class="my-3 mx-4 text-blue-900 text-lg">
    That said, negative balances occasionally do happen.
  </p>
  <p class="my-3 mx-4 text-blue-900 text-lg">
    Particularly around auction time.
  </p>
  <p class="my-3 mx-4 text-blue-900 text-lg">
    You can still buy things at Dypet, even if your balance dips sligtly negative, but you will be charged a penalty cost with every purchase you make, until you settle your account.
  </p>
  <p class="my-3 mx-4 text-blue-900 text-lg">
    Hence, it's better for us all if we keep our accounts in the green.
  </p>
</div>
