<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:mood]} type="text" label="Mood" />
  <.input field={f[:text]} type="text" label="Text" />
  <.input field={f[:active]} type="checkbox" label="Active" />
  <.input field={f[:public]} type="checkbox" label="Public" />
  <:actions>
    <.button>Save Message</.button>
  </:actions>
</.simple_form>
