<.take_me_back to={~p"/kveg"} />

<.header>
  What's on your mind?
</.header>

<.form :let={f} for={@changeset} action={~p"/kveg/feedback"} as={:message}>
<.label for="Message">Message</.label>

  <textarea id="Message" name={:message} class={["mt-2 block w-full rounded-lg text-stone-900",
    "focus:ring-0 sm:text-sm sm:leading-6 min-h-[6rem] phx-no-feedback:border-stone-300",
    "phx-no-feedback:focus:border-stone-500",
    @changeset.action && !@changeset.valid? && "border-pink-400 focus:border-pink-400"]}>
  </textarea>

  <.input field={f[:mood]} type="email" label="Email" value={"a@b.c"} required />

  <.button class="mt-6 ml-auto">
    Send
  </.button>
  
</.form>

<pre>
{inspect @changeset, pretty: true}
</pre>
