<header class="bg-gradient-to-br from-blue-700 to-sky-600">
  <div class="px-4 sm:px-6 lg:px-8 flex items-center justify-between border-b border-stone-100 py-3 text-sm">
    <div class="flex items-center gap-4">
      <a href="/">
        <!-- <img src={~p"/images/logo.svg"} width="36" /> -->
      </a>
      <p class="bg-blue-100 text-blue-600 rounded-full px-2 font-medium leading-6">
        v<%= Application.spec(:phoenix, :vsn) %>
      </p>
    </div>

    <div class="flex items-center gap-4 font-semibold leading-6 text-stone-100">
      <a href="https://twitter.com/elixirphoenix" class="hover:text-stone-700">
        @elixirphoenix
      </a>
      <a href="https://github.com/phoenixframework/phoenix" class="hover:text-stone-700">
        GitHub
      </a>
      <a
        href="https://hexdocs.pm/phoenix/overview.html"
        class="rounded-lg bg-stone-800 px-2 py-1 hover:bg-stone-200/80"
      >
        Get Started <span aria-hidden="true">&rarr;</span>
      </a>

      <.link :if={@kveg || @budeie} href={~p"/logout"} method="delete" class="text-lg">
        Log out
      </.link>
    </div>
  </div>
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
