<header class="bg-gradient-to-br from-blue-700 to-sky-600">
  <div class="px-4 sm:px-6 lg:px-8 flex items-center justify-between py-3 text-sm">
    <div class="flex items-center gap-4">
      <.link :if={@kveg} href={~p"/kveg"} class="text-blue-100 text-lg font-semibold">
        <%= @kveg.firstname %> <%= @kveg.lastname %>
      </.link>
    </div>

    <div class="flex items-center gap-4 font-semibold leading-6 text-white">
      <.link :if={@kveg || @budeie} href={~p"/logout"} method="delete" class="text-lg">
        Log out
      </.link>
    </div>
  </div>
</header>

<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
