<.header>
  New Item
  <:subtitle>Use this form to manage item records in your database.</:subtitle>
</.header>

<.item_form changeset={@changeset} action={~p"/items"} />

<.back navigate={~p"/items"}>Back to items</.back>
